
.menu-principal{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu{
    background-color: black;
}
div .imagen{
    width: 100%;
}

.botones{
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul li {
    margin: 20px;
    border: 1px solid white;
    color: darkred;
    list-style-type: none;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
ul li a {
    margin: 10px;
    color: rgb(255, 0, 0);
    text-decoration: none;
    
}
a:hover{
    color:aliceblue;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    color: brown;
    background-color: salmon;
    width: 100%;
    height: 40px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    
}
th, td {
    padding: 10px;
}